.content {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
}
.arena-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--mat-sys-corner-large);
    background-position-x: center;
    background-position-y: center;
    background-size: 900px;
    background-repeat: no-repeat;
}

/* #region Loat images and containers */
.loat-container {
    position: absolute;
    width: 800px;
}
.nid, .hraes {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.nid {
    left: -100px;
}
.hraes {
    right: -100px;
}
.loat-image {
    position: absolute;
    top: -25px;
    width: 450px;
    height: 450px;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-5px 7px 7px #222);
}
.nid .loat-image {
    left: -40px;
    transform: scaleX(-1) rotate(10deg);
}
.hraes .loat-image {
    right: -40px;
    transform: rotate(10deg);
}
/* #endregion */

/* #region Loat hitboxes */
.hitbox {
    position: absolute;
    border-radius: 50%;
    top: -100px;
    opacity: 0;
}
.selected .hitbox {
    opacity: 1;
}
.nid .hitbox {
    left: -260px;
}
.hraes .hitbox {
    right: -260px;
}
.hitbox-outer {
    width: 690px;
    height: 690px;
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 5px rgb(160, 0, 0), 
        0px 0px 10px 1px rgb(255, 0, 0), 
        0px 0px 5px 3px rgb(255, 255, 255), 
        inset 0px 0px 3px 0px rgb(255, 0, 0),
        inset 0px 0px 5px 0px rgb(255, 255, 255);
}
.hitbox-inner {
    width: 600px;
    height: 600px;
    margin: 50px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 3px rgb(160, 0, 0), 
        0px 0px 5px 1px rgb(255, 0, 0), 
        0px 0px 5px 2px rgb(255, 255, 255), 
        inset 0px 0px 3px 0px rgb(255, 0, 0),
        inset 0px 0px 5px 1px rgb(255, 255, 255);
}
/* #endregion */

/* #region Party */
.lineup {
    position: relative;
    width: 800px;
    top: 145px;
    text-align: center;
}
.lineup-player {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
}
.lineup table {
    position: relative;
    width: 860px;
    left: -80px;
}
.lineup table td {
    text-align: center;
    width: 145px;
    max-width: 145px;
    overflow: visible;
}
.aoe {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(147, 37, 113, 0.3);
    border: 3px dashed rgb(170, 62, 136);
    cursor: pointer;
}
.aoe.spread:hover {
    background-color: rgba(147, 37, 113, 0.8);
    border: 3px dashed rgb(82, 17, 61);
}
.aoe.spread.selected {
    background-color: rgba(147, 37, 113, 1);
    border: 3px solid rgb(82, 17, 61);
}
.aoe.stack {
    background-color: rgba(157, 194, 216, 0.3);
    border: 3px dashed rgba(157, 194, 216, 1);
}
.aoe.stack:hover {
    background-color: rgba(157, 194, 216, 0.8);
    border: 3px dashed rgb(35, 116, 163);
}
.aoe.stack.selected {
    background-color: rgba(157, 194, 216, 1);
    border: 3px solid rgb(35, 116, 163);
}
.aoe.selected, .aoe:hover {
    box-shadow: 0px 3px 5px #222;
}
.job {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 78px;
    left: 0;
    width: 40px;
    opacity: 0;
}
.aoe.stack .job {
    top: 55px;
    margin-bottom: 5px;
}
.aoe img.job {
    filter: drop-shadow(0px 3px 3px #222);
}
.job.visible {
    opacity: 1;
}
.correct-location, .wrong-location {
    position: absolute;
    top: 430px;
    left: 0px;
    transform: scale(4);
    text-shadow: 0px 1px 1px black, 0px 5px 5px #222;
    cursor: auto;
}
.correct-location {
    color: rgb(0, 148, 0);
}
.wrong-location {
    color: rgb(136, 0, 0);
}
/* #endregion */

/* #region Misc */
.hint {
    position: absolute;
    width: 220px;
    top: 450px;
    padding: 5px;
    left: 50%;
    margin-left: -110px;
    font-size: smaller;
    background: var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-small);
    box-shadow: 0px 2px 2px #222;
}
/* #endregion */