<h2 mat-dialog-title>customize party</h2>
<mat-dialog-content class="mat-typography edit-party-content">

    @for (player of workingCopy; track player; let index = $index) {
    <p>
        <img class="job" [src]="'assets/job/'+ player.jobId +'.png'" />
        <mat-form-field class="job-field">
            <mat-label>{{player.subRole.shortName}}{{player.group}} job</mat-label>
            <mat-select [(ngModel)]="player.jobId">
                @for (job of jobs; track job.id) {
                    @if (job.subRole.role.id == player.subRole.role.id) {
                        <mat-option [value]="job.id">{{job.shortName}}</mat-option>
                    }
                }
            </mat-select>
          </mat-form-field>

        <mat-form-field class="name-field">
            <mat-label>{{player.subRole.shortName}}{{player.group}} player name</mat-label>
            <input matInput type="text" 
                [placeholder]="getDefaultName(player.id, player.name)"
                [(ngModel)]="player.name">
                @if (player.name) {
                    <button matSuffix mat-icon-button class="clear-field" aria-label="Clear" (click)="player.name=''">
                      <mat-icon>close</mat-icon>
                    </button>
                }
        </mat-form-field>
    </p>
    }
    

</mat-dialog-content>
<mat-dialog-actions align="end">
    <span class="validation" *ngIf="validation">
        <mat-icon>error_outline</mat-icon>
        <span class="validation-message">{{validation}}</span>
    </span>
    <button mat-button mat-dialog-close (click)="cancel()">cancel</button>
    <button mat-button [disabled]="!validGroups" [mat-dialog-close]="true" cdkFocusInitial (click)="save()">save</button>
</mat-dialog-actions>