@use '@angular/material' as mat;

.edit-party-content {
  @include mat.theme((
    density: -1
  ));
}
.edit-party-content {
    min-width: 320px;
    padding: 0 30px;
}
.edit-party-content p {
    margin: 0;
}




.job {
    display: inline-block;
    position: relative;
    width: 58px;
    height: 58px;
    top: -12px;
    margin-right: -10px;
    z-index: 1;
}
.job-field {
    display: inline-block;
    position: relative;
    width: 90px;
    margin-right: 10px;
}





.name-field, .group-field {
    display: inline-block;
}
.name-field {
    width: 200px;
}
.group-field {
    top: -10px;
    margin-left: 10px;
    width: 100px;
}
.clear-field {
    margin-right: 5px;
}
.validation {
    width: 230px;
    text-align: left;
    color: var(--mat-sys-on-error);
}
.validation-message {
    position: relative;
    top: -5px;
}
.validation mat-icon {
    margin-right: 5px;
}