<mat-toolbar>
    <span class="title">wroth flames helper</span>

    <span class="filler"></span>

    <span>
    </span>
</mat-toolbar>

<div class="page">
    <mat-card class="party-container">
        <mat-card-header>
            <mat-card-title class="party-list-header glow">FULL PARTY</mat-card-title>
        </mat-card-header>

        <mat-card-content cdkDropListGroup>
            <div cdkDropList
            [cdkDropListData]="partyList"
            (cdkDropListDropped)="drop($event)"
            class="party-list">
            @for (player of partyList; track player.id; let index = $index) {
                <div class="player-row" cdkDrag>
                    <span class="job">
                        <img class="job" [src]="'assets/job/'+ player.job +'.png'" />
                        <span class="player-selection" [class]="{ 'player-selected': player.id == selectedPlayer }">
                            <button mat-icon-button aria-label="Select player" (click)="selectAndSavePlayer(player.id)">
                            <mat-icon>star</mat-icon>
                            </button>
                        </span>
                        <span class="bar aggro" [class]="{'first': player.aggroOrder==1, 'second': player.aggroOrder==2}">
                            <mat-progress-bar mode="determinate" [value]="player.aggroPercent*100" class="fill"></mat-progress-bar>
                        </span>
                        <span class="bar shield-shadow"><mat-progress-bar mode="determinate" [value]="player.shieldPercent*100" class="fill"></mat-progress-bar></span>
                        <span class="bar shield"><mat-progress-bar mode="determinate" [value]="player.shieldPercent*100" class="fill"></mat-progress-bar></span>
                        <span class="bar health"><mat-progress-bar mode="determinate" [value]="player.healthPercent*100" class="fill"></mat-progress-bar></span>
                        <span class="bar mana"><mat-progress-bar mode="determinate" [value]="player.manaPercent*100" class="fill"></mat-progress-bar></span>
                        <span class="aggro glow-shadow">
                            <span *ngIf="player.aggroOrder > 1">{{player.aggroOrder}}</span>
                            <span class="aggro-a" *ngIf="player.aggroOrder == 1">A</span>
                        </span>
                        <span class="health-triangle glow-shadow" *ngIf="player.healthPercent < 0.99">🞃</span>
                        <span class="health glow-shadow">{{player.healthPercent * player.maxHealth | number:'1.0-0' | xivNumber}}</span>
                        <span class="mana glow-shadow">{{player.manaPercent * 100 | number:'1.0-0' | xivNumber}}</span>
                        <span class="mana-decimal glow-shadow">{{ player.manaPercent * 100 | number:'1.2-2' | xivDecimal }}</span>
                    </span>
                    <span class="order">{{index+1}}</span>
                    <img class="sync" src="assets/party-list/sync.png" />
                    <span class="level glow-shadow">Lv{{player.level}}</span>
                    <span class="player glow-shadow">{{player.name}}</span>

                    <span class="statuses">
                        @for (status of player.statuses; track status.id; let index = $index) {
                            <xiv-status
                                [class]="{'status-hide': index >= 5}" 
                                [iconUrl]="status.iconUrl" 
                                [maxDuration]="status.duration"
                                [resetListener]="statusResetEmitter"
                                (expire)="onStatusExpire($event, player.id, status.id)"></xiv-status>
                        }
                    </span>
                </div>
            }
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="lineup-container">
        <mat-card-content class="arena-card-content">
            <app-arena [selectedPlayer]="selectedPlayer" [solvedPlayers]="solvedPlayers" [resetListener]="statusResetEmitter"></app-arena>
        </mat-card-content>
    </mat-card>

    <mat-toolbar class="actions-toolbar">
        <span class="filler"></span>
        <button mat-fab extended (click)="randomizePartyState()">
            <mat-icon>shuffle</mat-icon>
            we go agane
        </button>
        <button mat-fab extended class="secondary-button" (click)="openEditDialog()">
            <mat-icon>settings</mat-icon>
            customize party
        </button>
        <button mat-fab extended class="secondary-button" (click)="openFaqDialog()">
            <mat-icon>info</mat-icon>
            help
        </button>
    </mat-toolbar>
</div>
