li {
    position: relative;
}
img.status {
    position: absolute;
    width: 18px;
    top: -4px;
    margin-left: 5px;
}
.icon-chip {
    padding-left: 16px;
    margin: 0 5px;
}
.small-icon {
    position: absolute;
    transform: scale(0.6);
    top: 0px;
    left: 4px;
}
.icon-only {
    padding-left: 6px;
}