.solution{
    position: relative;
    opacity: 0;
}
.visible.solution{
    opacity: 1;
}

/* #region(c) AoEs and job icons */
.aoe {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    left: -29px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 0;
}
.aoe.selected {
    z-index: 1;
}
.job {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 29px;
    left: 0;
    width: 40px;
}
.aoe.stack .job {
    top: 9px;
    margin-bottom: 1px;
}
.aoe img.job {
    filter: drop-shadow(0px 3px 3px black);
}
/* #endregion */

/* #region(c) AoE style */
.aoe.spread {
    border: 2px solid rgba(62, 17, 63, 1);
    background: none;
    box-shadow:
        inset 0 0 5px 2px rgba(62, 17, 63, 0.25),
        inset 0 0 5px 3px rgba(80, 10, 58, 0.25),
        inset 0 0 20px 5px rgba(145, 19, 105, 0.25),
        inset 0 0 30px 10px rgba(180, 43, 137, 0.25),
        inset 0 0 200px 20px rgba(80, 10, 58, 0.1);
}
.aoe.spread:hover {
    border: 2px solid rgba(62, 17, 63, 1);
    background: rgba(147, 37, 113, 0.4);
    box-shadow:
        inset 0 0 5px 2px rgba(62, 17, 63, 0.25),
        inset 0 0 5px 3px rgba(80, 10, 58, 0.25),
        inset 0 0 20px 5px rgba(145, 19, 105, 0.25),
        inset 0 0 30px 10px rgba(180, 43, 137, 0.25),
        inset 0 0 200px 20px rgba(80, 10, 58, 0.3),
        0px 2px 3px 0px black;
}
.aoe.spread.selected {
    border: 2px solid rgb(47, 17, 48);
    background: rgb(47, 17, 48);
    background: radial-gradient(circle, rgba(199,123,169,0.9) 25%, rgba(47, 17, 48, 1) 100%);
    box-shadow:
        inset 0 0 5px 2px rgba(47, 17, 48, 1),
        inset 0 0 5px 3px rgba(153, 32, 78, 1),
        inset 0 0 50px 5px rgba(145, 19, 105, 1),
        inset 0 0 70px 10px rgba(180, 43, 137, 1),
        inset 0 0 200px 20px rgba(80, 10, 58, 0.25),
        0px 2px 2px 0px black,
        0px 5px 8px 0px rgba(0, 0, 0, 0.7);
}
.aoe.stack {
    border: 2px solid rgba(237, 248, 255, 1);
    background: none;
    box-shadow:
        inset 0 0 5px 3px rgba(237, 248, 255, 0.25),
        inset 0 0 20px 5px rgba(153, 184, 214, 0.25),
        inset 0 0 30px 10px rgba(152, 213, 248, 0.25),
        inset 0 0 200px 20px rgba(157, 194, 216, 0.1);
}
.aoe.stack:hover {
    border: 2px solid rgba(237, 248, 255, 1);
    background: rgba(107, 139, 199, 0.4);
    box-shadow:
        inset 0 0 5px 3px rgba(237, 248, 255, 0.25),
        inset 0 0 20px 5px rgba(153, 184, 214, 0.25),
        inset 0 0 30px 10px rgba(152, 213, 248, 0.25),
        inset 0 0 200px 20px rgba(157, 194, 216, 0.3),
        0px 2px 3px 0px black;
}
.aoe.stack.selected {
    border: 2px solid rgba(237, 248, 255, 1);
    background: rgba(107, 139, 199, 0.9);
    box-shadow:
        inset 0 0 5px 3px rgba(237, 248, 255, 1),
        inset 0 0 20px 5px rgba(153, 184, 214, 1),
        inset 0 0 30px 10px rgba(152, 213, 248, 1),
        inset 0 0 200px 20px rgba(157, 194, 216, 0.25),
        0px 2px 2px 0px black,
        0px 5px 8px 0px rgba(0, 0, 0, 0.7);
}
/* #endregion */

/* #region(c) Explanation text and status */
.explanation {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    position: absolute;
    width: 45px;
    text-align: center;
    height: 0;
    top: 46px;
    left: -23px;
}
img.status {
    position: relative;
    display: inline-block;
    width: 18px;
    margin-right: 3px;
    top: 5px;
    filter: drop-shadow(0px 1px 1px black);
}
.role {
    position: relative;
    display: inline-block;
    width: 20px;
}
.spread .explanation {
    text-shadow: 0px 1px 1px black;
}
.stack .explanation {
    top: 27px;
    color: rgb(0, 29, 66);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.stack .explanation.no-status {
    top: 141px;
    left: -32px;
}
.score {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    top: 191px;
    left: -8px;
}
.correct-location, .wrong-location {
    position: absolute;
    width: 0;
    height:0;
    top: 0;
    left: 0;
    overflow: visible;
    transform: scale(4);
    line-height: 14pt;
    text-shadow:  0px 1px 5px black, 0px 1px 0.5px black, 0 -0.2px 0 white;
    cursor: auto;
}
.correct-location {
    margin-left: 4px;
    color: #3a990e;
}
.wrong-location {
    color: rgb(160, 0, 0);
}
/* #endregion */